* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

ul,
li {
  list-style: none;
}

.logo {
  margin: 10px;
}

.title {
  margin: 10px;
}

.missions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.mission {
  padding: 10px 15px;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(133, 133, 133);
}

.row1-mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2-mission {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.success {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(162, 226, 162);
}
.failure {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(247, 186, 177);
}

.details {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(131, 131, 131);
  border-radius: 3px;
  cursor: pointer;
}
